body{
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}
.navbar{
	border: none;
	border-radius: 0;
	background-color: #333;
	border-bottom: 5px solid rgba(255,255,255,0.3);
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus{
	background-color: #272727;
}

.navbar-inverse .navbar-nav li a:hover{
	background-color: #272727;
	color: #fff
}

.navbar ul.dropdown-menu{
	background-color: #333;
	border-radius: 0;
	border: 0;
	padding: 0;
}

.navbar ul.dropdown-menu li a{
	color: #9d9d9d;
	padding: 12px;
	font-size: 13px;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(255,255,255,0.7);
    display: none;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 70px;
    height: 70px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}


.digg_pagination {
  background: white;
  cursor: default;
}
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
  margin: 2px;
}
.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #008cba;
  color: white;
  border: 1px solid #008cba;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
}
.digg_pagination a {
  text-decoration: none;
  color: #008cba;
  border: 1px solid #008cba;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  margin-top: 2px;
}
.digg_pagination a:hover, .digg_pagination a:focus {
  color: #008cba;
  border-color: #008cba;
}
.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}
.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em;
}

.table > thead th{
  font-weight: normal;
}

.page-header{
  border-bottom-color: #ddd;
}
.page-header h1{
  color: #004b63;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bolder;
}

.pd-cell-control{
  width: 1px;
  white-space: nowrap;
  background-color: #dddddd;
}
.dropdown-menu{
  border-radius: 0;
  box-shadow: unset;
  margin: 0;
  padding: 0
}
.dropdown-toggle{
  background-color: transparent;
  padding: 4px 8px;
  border-radius: 0;
}
.btn-group.open .dropdown-toggle{
  background-color: #aaaaaa;
  color: #ffffff;
  box-shadow: unset;
  
  
}
.dropdown-menu > li > a{
  padding: 12px 15px;
}